body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#game-container {
  display: grid;
  grid-template-columns: 1.2em 1.2em 1.2em;
  grid-template-rows: 1.2em 1.2em 1.2em;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 8rem;
}

.field {
  width: 1em;
  height: 1em;
  line-height: 1;
  border: 2px;
  border-radius: 5%;
  border-style: solid;
  border-color: lightgrey;
  box-shadow: 5px 5px 5px lightgrey;
  text-align: center; 
  cursor: pointer;
}

#end {
  width: 30vw;
  height: 15vh;
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  border: 2px;
  padding: 2em;
  border-radius: 10% / 20%;
  border-style: solid;
  border-color: grey;
  box-shadow: 5px 5px 10px grey, -5px -5px 10px grey;
  background-color: white;
  text-align: center;
  font-size: 2rem;
}

button {
  width: 3em;
  height: 1.5em;
  background-color: gray;
  border-radius: 10% / 20%;
  color: white;
  border-style: none;
  font-size: 0.7em;
  cursor: pointer; 
}

.field.X, 
#end-text.X {
  color: darkred;
}

.field.O,
#end-text.O {
  color: darkblue;
}

button.X {
  background-color: darkred;
}

button.O {
  background-color: darkblue;
}

.off {
  color: lightgray;
  cursor: default;
}

@media screen and (max-width: 480px) {
  
  #game-container {
    font-size: 4rem;
  }

  #end {    
    font-size: 1.5rem;
    top: 65%;
  }
}